* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 820px;
  width: 100%;
  padding: 10px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #4e4e4e;  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: lightgrey;
  background-image: url('./assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.all-clock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
  margin-top: 45px;
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
}
